[submodule "jquerymobile-router"]
	path = jquerymobile-router
	url = git://github.com/azicchetti/jquerymobile-router.git
[submodule "runtime"]
	path = runtime
	url = https://github.com/RangerRick/opennms-jquery.git
