.opennms-tabs .ui-btn .ui-btn-inner { padding-top: 40px !important; }
.opennms-tabs .ui-btn .ui-icon { width: 30px!important; height: 30px!important; margin-left: -15px !important; box-shadow: none!important; -moz-box-shadow: none!important; -webkit-box-shadow: none!important; -webkit-border-radius: 0 !important; border-radius: 0 !important; }

/* Non-Retina */
@media screen and (-webkit-max-device-pixel-ratio: 1) {
	.onms-outages .ui-icon { background:  url(images/icons/icons-white/77-ekg.png)     50% 50% no-repeat; background-size: 26px 22px; }
	.onms-alarms  .ui-icon { background:  url(images/icons/icons-white/11-clock.png)   50% 50% no-repeat; background-size: 25px 25px; }
	.onms-nodes   .ui-icon { background:  url(images/icons/icons-white/69-display.png) 50% 50% no-repeat; background-size: 22px 20px; }
	.onms-logo    .ui-icon { background:  url(images/o.png)                            50% 50% no-repeat; background-size: 32px 32px; }
}

/* Retina */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
	.onms-outages .ui-icon { background:  url(images/icons/icons-white/77-ekg@2x.png)     50% 50% no-repeat; background-size: 26px 22px; }
	.onms-alarms  .ui-icon { background:  url(images/icons/icons-white/11-clock@2x.png)   50% 50% no-repeat; background-size: 25px 25px; }
	.onms-nodes   .ui-icon { background:  url(images/icons/icons-white/69-display@2x.png) 50% 50% no-repeat; background-size: 22px 20px; }
	.onms-logo    .ui-icon { background:  url(images/o@2x.png)                            50% 50% no-repeat; background-size: 32px 32px; }
}

.ui-content .opennms-node-template .ui-listview {
	margin-top: 0px;
	margin-bottom: 0px;
}

#outages-node-detail .ui-content {
	padding-bottom: 0px;
}