<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "org.opennms.OpenNMSClient"
        versionCode="10" 
        version   = "1.9.90">

    <!-- versionCode is optional and Android only -->

    <name>OpenNMS</name>

    <description>The OpenNMS Mobile Client</description>

    <author href="https://www.opennms.org" email="ranger@opennms.org">Benjamin Reed</author>

</widget>

